@mixin flex($flow, $justify, $align) {
    display:flex;
    flex-flow: $flow;
    justify-content: $justify;
    align-items: $align;
}
@mixin flex-center($flow) {
    display:flex;
    flex-flow: $flow;
    justify-content: center;
    align-items: center;
}

@mixin square($color){
    width:30px;
    height:30px;
    margin:10px;
    display:inline-block;
    background-color: $color;
}