@import 'variables';
@import 'mixins';
@import 'placeholders';
@import 'functions';


// Animations CSS
@keyframes burger-slide-in {
    from {
        bottom:200vh;
    }
    to {
        bottom:0;
    }
}
@keyframes burger-slide-out {
    from {
        bottom:0;
    }
    to {
        bottom:200vh;
    }
}
@keyframes translateX-btn-in {
    from{
        transform:translateX(0);
    }
    to{
        transform: translateX(250px);
    }
}
@keyframes translateX-btn-out{
    from{
        transform:translateX(250px);
    }
    to{
        transform: translateX(0);
    }
}

//Font size
h1{
    font-size:$h1;
}
h2{
    font-size:$h2;
}
h3{
    font-size:$h3;
}
h5{
    font-size:$h5;
}
p {
    font-size:$p;
}
// Balises HTML
* {
    @extend %pm-0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #F1F1F1;
    overflow-x:hidden;
}
#icon-search{
    cursor:pointer;
    position:relative;
}

#nav-bar {
    height:10vh;
    box-shadow: 0px 1px 10px grey;
    background-color: #F7F7F7;
    .nav-container{
        @include flex(row wrap, space-evenly, center);
        width:80vw;
        height: 100%;
        margin:auto;
         > div:last-child{
            position:relative;
            #cart-qty{
                font-weight:600;
                position:absolute;
                color:darken($blue, 30%);
                bottom:40px;
                left:50%;
            }
        }
        div:first-child{
            z-index:9999;
        }
        .search-bar{
            display:none;
            position:absolute;
            left:0;
            width:100%;
            margin-top:50px;
            z-index:15000;
            /* 
            margin-top:calc(45vh - 40px); */
            #search-input{
                //position:absolute;
                width:30%;
                height:40px;
                margin:auto;
                font-size:2rem;
                outline:none;
            }
            .search-results{
                @include flex(column wrap, center, flex-start);
                width:30%;
                margin:auto;
                background-color: darkslategrey;
                a{
                    color:white;
                    text-decoration: none;
                    text-align:left;
                    padding:15px 30px;
                    width:100%;
                    &:hover {
                        background-color: lighten(darkslategrey, 20%);
                    }
                }
                
            }
        }
        img {
            width:40px;
            display:block;
            margin:auto;
        }
        i {
            font-size:2.5rem;
        }
        div{
            width:20%;
            text-align: center;
        }
        div:nth-child(4){
            position:relative;

            .account-submenu{
                display:none;
                position:absolute;
                width:calc(80vw/5);
                padding-top:calc(5vh - 20px);
                li{
                    list-style:none;
                    padding:10px;
                    &:hover{
                        background-color: #74B9FF;
                        color:white;
                    }
                }
            }
            .fa-caret-up{
                display:none;
            }
            &:hover{
                padding: 10px 0;
                .fa-caret-up{
                    display:block;
                    font-size:2.5rem;
                    position: absolute;
                    left:calc(50% - 25px / 2);
                    color:black;
                    top:40px;
                }
                .account-submenu{
                    display:block;
                    ul{
                        background-color: #f9f9f9;
                        box-shadow: 0px 1px 10px grey;
                    }
                }

            }
        }

    }
}


a {
    color:black;
    text-decoration:none;
}

//Changer le curseur sur les inputs de type submit
input[type="submit"]{
    cursor:pointer;
}
.burger-animated-in {
    animation-name: burger-slide-in;
    animation-direction: normal;
    animation-duration: 1s; 
    animation-fill-mode: forwards;  
}
.burger-animated-out{
    animation-name: burger-slide-out;
    animation-direction: normal;
    animation-duration: 1s; 
    animation-fill-mode: forwards; 
}
.burger{
    position:absolute;
    z-index:2000;
    width:100vw;
    bottom:200vh;
    height:100vh;
    box-shadow: 0px 1px 10px grey;
    background-color: white;
    .burger-row:first-child {
        @include flex(row nowrap, space-evenly, center);
        height:100vh;
        .menu-category{
            width:15%;
            img {
                padding:50px 10px;
                width:100%;
                box-shadow: 0px 1px 10px grey;
            }
        }
    }
    .burger-row:last-child{
        display:none;
    }
}
//Class génériques
.material-icons {
    font-size:2.5rem !important;
}

.flex-row-between {
    @include flex(row nowrap, space-between, center);
}
.flex-row {
    @include flex(row nowrap, space-evenly,center);
}
.text-transparent{
    color:transparent;
}

.row {
    @include flex(row wrap, space-evenly, center);

   > div {
        width:20%;
        height:20vh;
        margin-bottom:30px;
        text-align: center;
        @include flex(column nowrap, space-evenly, center);
    }
    > div > h5 {
        font-weight:500;
    }
    > div i {
        font-size:2rem;
    }
    .i-larger{
        font-size:2.125rem;
    }
    .icons{
        margin:0px 15px;
    }
}

// id & class
#logo-nav {
    width:160px !important;
}
.box-content {
    @include flex-center(row wrap);
    height:90vh;
    //background-color: blue;
    a{
        width:100%;
        .box-surprise {
            background-color:#F7F7F7;
            box-shadow: 0px 1px 10px grey;
            /* height: 80%; */
            min-height:80vh;
            width:100%;
            @include flex(row wrap, space-evenly, center);
        
            img{
                min-width:20%;
            }
        }
    }
}

.blue-square{
    @include square(#74B9FF,30px);
}
.red-square {
    @include square(#FF7675,30px);
}
.green-square {
    @include square(#00B894,30px);
}

.product-box {
    height:100vh;
    width:100%;
    background-color: transparent;
    h1 {
        font-weight:400;
        display:inline-block;
    }
    p {
        font-weight: 300;
        margin-bottom:50px;
    }
    .products {
        @include flex(row nowrap, space-evenly, center);
        height:80vh;
        .flex-center {
            box-shadow:0px 1px 10px grey;
            background-color: white;
            height:100%;
            flex-shrink: 0;
            min-width:30%;
            @include flex(row wrap, center, center);
            a{
                @include flex(column nowrap, space-evenly, center);
                //padding-top:1vh;
                height:100%;
                margin:0;
                img{
                    max-width:75%;
                    min-width: 50%;
                }
            }
        }
        div {
            width:20%;
            text-align:center;
            //box-shadow: 0px 1px 10px grey;
        }
        div h2 {
            font-weight:400;
        }
        div p {
            font-weight: 300;
        }
    }
}
.box-title {
    display:block;
    text-align:center;
    width:100%;
    margin: 0 auto;
    div {
        @include flex(row nowrap, center, center);
    }
}

.category {
    width:100%;
    
    h2 {
        text-align: center;
        width:50%;
        margin:30px auto;
    }
    .flex-row{
        justify-content:initial;
    }
    .category-content{
        width:100vw;
        min-height: 100vh;
        align-items:flex-start;
        aside{
            width:20vw;
        }
        > div {
            width:80vw;
        }
    }
}
.category-products{
    @include flex(row wrap, space-evenly, end);
    border-left: 2px solid grey;
    width:80vw;
    a{
        min-width:30%;
        .flex-center{
            margin-bottom:5vh;
            margin-right:2vw;
            text-align:center;
            &:first-child{
                margin-left:2vw;
            }
            div {
                width:100%;
                text-align:center;
                padding:20px;
                img {
                    width:100%;
                }
            }
            h3 {
                font-weight:400;
                margin-top:10px;
                margin-bottom:10px;
            }
            div p {
                font-weight: 300;
            }
        }
    }


}
/* .img-products {
    width:100%;
} */
.filters{
    min-height:100%;
    margin-left:25px;
     > h5:first-child{
        margin-bottom:2vh;
    }
    ul {
        list-style: none;
        h5{
            margin-bottom:1vh;
        }
    }
}
#filter-btn{
    display:none;
}
//Login/register page
#user-page {
    height:90vh;
    @include flex(column wrap, center, center);

    #user-form{
        padding:50px;
        border:2px solid lightgrey;
        border-radius:25px;
        box-shadow:0px 1px 10px grey;
        background-color: #F7F7F7;

        h3{
            margin-bottom:25px;
            text-align:center;
        }
        input {
            margin-bottom:25px;
            border-radius:25px;
            height:3vh;
            border:2px solid lightgrey;
            outline:none;
        }
        input[type=text], input[type=email], input[type=password]{/* 
            width: calc(100% - 40px); */
            padding-left:5px;
            width:100%;
        }
        input[type=submit]{
            width:100%;
        }

        a {
            font-size:0.625px;
            margin:auto;
            p {
                text-align: right;
            }
        }
    }
}

// User profile page
.user-profile {
    height:90vh;
    width:100%;

    #profile-nav {
        width:80%;
        height:200px;
        margin:auto;
        @include flex(row wrap, center, center);

        .profile-nav-container{
            margin:25px;
            width:100%;
            padding-top:50px;
            @include flex(row wrap, center, center);

            .select-btn{
                overflow: hidden;
                width:450px;
                height: 50px;
                //padding:15px;
                border-radius:25px;
                outline:none;
                border:none;
                color:white;
                background-color: lightgrey;
                cursor:pointer;
                position:relative;
                z-index:1;
                @include flex(row wrap, center, center);

                &::before{
                    content: 'Informations';
                    left:50px;
                }
                &::after{
                    content: 'Commandes';
                    right:50px;
                }
                &::after, &::before{
                    position: absolute;
                    z-index:5;
                    font-weight:600;
                }
                span{
                    display: inline-block;
                    position: relative;
                    z-index: 2;
                    background: darken($color: #74B9FF, $amount: 10%);
                    width: 200px;
                    height: 50px;
                    border-radius: 25px;
                    //Pour être sur Mes commandes
                    //left: 125px;
                    //Pour être sur Mes informations
                    right:125px;
                }
                &.checked{
                    span{
                        animation: translateX-btn-in 0.75s ease-in-out;
                        animation-fill-mode: forwards; 
                    }
                }
                &.unchecked{
                    span{
                        animation: translateX-btn-out 0.75s ease-in-out;
                    }
                }
            }
            
        }
    }
    .profile-content{
        max-width:60%;
        margin:auto;
        padding:50px;
        .user-data{
            @include flex(column wrap, center, center);
            form {
                background-color: #f7f7f7;
                padding:50px;
                border-radius:25px;
                input {
                    margin-bottom:25px;
                    border-radius:25px;
                    height:3vh;
                    border:2px solid lightgrey;
                    outline:none;
                    padding-left:10px;
                    color:black;
                    font-size:1rem;
                }
                input[type=submit]{
                    width:100%;
                }

            }

        }
    }
    .user-orders{
        width:100%;
        display:none;
        background-color: #f7f7f7;
        padding:20px;
        border-radius:25px;
        text-align: center;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        table{
            width:100%;
            margin: 25px 0;
            background-color: darken(#f7f7f7, 20%);
            padding:20px;
            border-radius:5px;
            border-collapse: collapse;
            tr{
                margin:10px 0;
            }
            td, th{
                border-bottom:2px solid black;
            }
            tr:last-of-type td{
                border-bottom:none;
            }
            i{
                color:#419fff;
                padding:5px;
                /* box-shadow:0px 1px 10px grey;  */
            }
        }
    }
}

// Product view
.product-content{
    margin:50px 0;
    .product-row{
        max-width:100vw;
        margin-bottom:5vh;
        @include flex(row wrap, flex-start, center);
        .product-img{
            max-width:50%;
            @include flex(row nowrap, center, center);
            .main-img{
                width:50%;
                img{
                    width:100%;
                }
            }
            .alternate-images{
                max-width:15%;
                @include flex(column nowrap, center, flex-end);
                img{
                    width:100%;
                    /* margin-right:20px; */
                    margin: 20px 20px 0 20px;
                    box-shadow:0px 1px 10px grey; 
                    cursor:pointer;
                    &:first-child{
                        margin: 0 20px 0 20px;
                    }
                }
            }
        }
        .product-desc{
            max-width:50%;
            padding-left:50px;
            #add-cart{
                background-color: $green;
                outline:none;
                color:white;
                font-size:1.5rem;
                padding:10px;
                border:none;
                box-shadow:0px 7px 1px grey; 
                &:active{
                    transform: translateY(4px);
                    box-shadow:0px 3px 1px grey;
                }
            }
            h3{
                margin-bottom:30px;
                //Chrome, Safari, Edge, Opera
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
                //Firefox
                input[type=number] {
                    -moz-appearance: textfield;
                    width:30px;
                }
                button{
                    padding:0 5px;
                }
                input[type=number], button {
                    text-align: center;
                    font-size:1rem;
                }
                button:nth-child(1){
                    margin-left:10px;
                }
            }
            h3:nth-child(3){
                margin-bottom:5px;
            }
            h3:last-of-type{
                @include flex(row wrap, flex-start, center);
            }
            p{
                display:inline-block;
                text-align: justify;
                margin-bottom:30px;
                //width:50%;
            }
            button[type=submit]{
                //width:30%;
                font-size:1.25rem;
                cursor:pointer;
            }
        }
    }
    .rates {
        @include flex(column wrap,flex-start,center);
        width:80vw;
        margin:auto;
        h3 {
            padding-left: 30px;
            align-self: start;
        }
        .rate-content{
            @include flex(row wrap,space-between,center);
            width:100%;
            //background-color: grey;
            .rates-views{
                width:calc(100vw - 200px);
                height:100%;
                padding-left:50px;
                .rate-review{
                    margin-bottom:5vh;
                    height:100%;
                    background-color: white;
                    box-shadow:0px 1px 10px grey; 
                    @include flex(row wrap, center, flex-start);
                    aside {
                        padding:10px;
                        width: 15%;
                        margin: auto 0;
                        height:100%;
                    }
                     > div{
                        width:85%;
                        padding:15px;
                        height: 100%;
                        border-left: 2px groove grey;
                        
                    }
                    input, textarea{
                        outline:none;
                        margin-bottom:10px;
                    }
                    #product-rate{
                        width:20px;
                        font-size:1rem;
                        text-align:center;
                        border-radius:5px;
                        border:1px solid grey;
                    }
                    #comment{
                        width:100%;
                        height:100px;
                        resize: none;
                        font-size:1rem;
                        border-radius:5px;
                        border:1px solid grey;
                    }
                    #rate-submit{
                        padding:10px;
                        border-radius:5px;
                    }
                    .stars{
                        i{
                            color:yellow;
                            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                        }
                    }
                }
            }
        }
    }
}


.cart-list{
    max-width:100vw;
    min-height:90vh;
    @include flex(row wrap, space-evenly, center);
    .table-row-flex{
        width:100%;
        @include flex(row nowrap, space-between, center);
    }
    .cart-message{
        background-color: $green;
        color:white;
        padding:50px;
        font-size:1.875rem;
        border-radius:25px;
    }
    #cart-recap{
        background-color: white;
        border: 2px solid lightgrey;
        min-width:20%;
        margin:0 auto;
        position:relative;
        table{
            width:100%;
            thead td h3{
                font-size: 0.8 * $h3;
            }
            .table-row-flex{
                span{
                    padding:5px;
                }
            }
            h3{
                font-weight:500;
                text-align: center;
            }
        }
        #cart-add{
            width:100%;
            margin-top:20px;
            padding: 10px;
            position:absolute;
            background-color: #00B894;
            color:white;
            font-size:1.5rem;
            outline:none;
            border:none;
            cursor:pointer;
            box-shadow:0px 5px 2px grey;
            &:active{
                box-shadow:0px 2px 2px grey;
                transform:translateY(4px);
            }
        }

    }
    #cart-table{
        min-width:30%;
        //margin:auto;
        border: 2px solid lightgrey;
        background-color: white;
        h3{
            padding:20px 0 0 20px;
        }
        tbody {
            width:100%;
            tr{
                td:first-child{
                    width:20%;
                }
                td:nth-child(2){
                    padding-left:10%;
                    width:70%;

                    table{
                        border-spacing: 15px;
                        width:100%;
                        tr td{
                            //Chrome, Safari, Edge, Opera
                            input::-webkit-outer-spin-button,
                            input::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }
                            //Firefox
                            input[type=number] {
                                -moz-appearance: textfield;
                                text-align:center;
                                width:30px;
                            }
                            button{
                                padding:0 5px;
                            }
                        }
                        .qtt-buttons{
                            @include flex(row wrap, left, center);
                            span{
                                margin-right:5px;
                            }
                        }
                        tr:first-child td{
                            width:100%;
                            @include flex(row nowrap, space-between, center);
                            font-size:1.375rem;
                            i{
                                font-size:1.875rem;
                            }
                        }
                    }
                }
            }
        }
        .cart-img{
            width:100%;
            padding-left:20px;
        }
    }
}

/* .order-details{
    #cart-table{
        @include flex(row wrap, center, center);
        thead tr{
            width:100%;
        }
    }
} */

.isnt-logged{
    @include flex(column wrap, center, center);
    width:100% !important;
    border-left:none !important;
    h3{
        margin: 0 auto 25px auto;
    }
    img{
        width:10%;
    }
}

.alert-modal {
    max-width:500px;
    min-width:200px;
    max-height: 200px;
    position:absolute;
    top: 115px;
    left:0;
    right:0;
    padding:20px 40px;
    margin:0 auto;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    text-align:center;
    .close-button{
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 1.25rem;
        color:white;
        background-color: transparent;
        border:none;
    }
}
.red{
    background-color: $red;
}
.green{
    background-color: $green;
}


.footer {
    @include flex(row wrap, space-evenly, center);
    background-color: #272727;
    color:white;
    width:100vw;
    min-height:40vh;
    >div{
        width:30%;
        margin:2% 2%;
        flex-grow: 0;
        min-height: 15vh;
        max-height:20vh;
        @include flex(column nowrap, space-evenly, center);
    }
    >div  div:first-child{
        margin-top:30px;
    }
    .flex-row-between{
        min-width:40%;
    }
    i {
        font-size:26px;
    }
    p{
        width:100%;
        text-align: center;
    }
}

//Media queries
@media (max-width:1200px){
    h1{
        font-size: 0.8 * $h1;
    }
    h2{
        font-size: 0.8 * $h2;
    }
    h3{
        font-size: 0.8 * $h3;
    }
    h5{
        font-size: 0.8 * $h5;
    }
    p{
        font-size: 0.8 * $p;
    }
    .cart-list #cart-recap #cart-add {
        font-size: 0.8 * 1.5rem;
    }
    .blue-square{
        @include square(#74B9FF,25px);
    }
    .red-square {
        @include square(#FF7675,25px);
    }
    .green-square {
        @include square(#00B894,25px);
    }
    .box-content{
        a{
            .box-surprise{
                flex-flow: column wrap;
                justify-content: center;
                min-height:50vh;
                h2{
                    order:1;
                }
                img{
                    order:2
                }
            }
        }
    }
    .product-box{
        .products{
            width:80vw;
            margin:auto;
            padding-bottom:10px;
            padding-top:5px;
            overflow-x: scroll;
            scroll-snap-type: x none;
            scroll-behavior: smooth;
            -webkit-overflow-scrolling: touch;
            justify-content:end;
            &::-webkit-scrollbar {
                width: 10px;
                height: 10px;
            }
            &::-webkit-scrollbar-thumb {
                background: black;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-track {
                background: transparent;
            }
            .flex-center{
                box-shadow: none;
                min-width: 90%;
                min-height: 90%;
                border-radius:10px;
                //margin-right: 50px;
                border-radius: 10px;
                scroll-snap-align: start;
                flex-shrink: 0;
                &:nth-child(2){
                    margin:0 10vh;
                } 
                a{
                    width:90%;
                    height:90%;
                }
            }
            .flex-center:first-child{
                margin-left:10%;
            }
        }
    }  
     .category-products{
         a{
             max-width:40%;
             min-width:0;
             .flex-center{
                 img{
                     width:100%;
                 }
             }
         }
    }
    .cart-list{
        flex-flow: column wrap;
    }
}



@media (max-width : 1000px){
    h1{
        font-size: 0.7 * $h1;
    }
    h2{
        font-size: 0.7 * $h2;
    }
    h3{
        font-size: 0.7 * $h3;
    }
    h5{
        font-size: 0.7 * $h5;
    }
    p{
        font-size: 0.7 * $p;
    }
    .footer{
        i {
            font-size:20px;
        }
    }
    .blue-square{
        @include square(#74B9FF,20px);
    }
    .red-square {
        @include square(#FF7675,20px);
    }
    .green-square {
        @include square(#00B894,20px);
    }
    .cart-list{
        flex-flow:column wrap;
        #cart-table{
            min-width:80vw;
            max-width:90vw;
            .cart-img{
                min-width:100%;
            }
            tbody tr td:first-child{
                min-width:20%;
            }
            tbody tr td:nth-child(2) table {
                min-width:80%;
                td{
                    font-size: 0.8 * $h3;
                }
            }
        }
        #cart-recap{
            min-width:60%;
            margin-bottom:10vh;
        }
    }



    #nav-bar{
        .nav-container{
            width: 90vw;
        }
        #logo-nav{
            width:100% !important;
        }
    }
}

@media (max-width : 800px){
    h1{
        font-size: 0.65 * $h1;
    }
    h2{
        font-size: 0.65 * $h2;
    }
    h3{
        font-size: 0.65 * $h3;
    }
    h5{
        font-size: 0.65 * $h5;
    }
    p{
        font-size: 0.65 * $p;
    }
    .cart-list{
        #cart-table{
            tbody tr td:nth-child(2) table {
                td{
                    font-size: 0.7 * $h3;
                }
            }
            tbody tr td:first-child{
                width:30%;
            }
            tbody tr td:nth-child(2){
                padding:0;
                max-width:60%;
            }
        }
    }
    #nav-bar{
        .nav-container{
            div:first-child{
                order:4;
            }
            div:nth-child(2){
                order:2;
            }
            div:nth-child(3){
                order:1;
            }
            div:nth-child(4){
                display:none;
            }
            div:last-child{
                order:3;
                #cart-qty{
                    bottom:100%;
                }
            }
            img{
                width:30%;
            }
            .search-bar{
                #search-input{
                    width:60%;
                }
                .search-results{
                    width:60%;
                }
            }
        }
    }
    .burger{
        .burger-row:first-child{
            display:none;
        }
        .burger-row:last-child{
            @include flex(column wrap, space-evenly, center);
            height:100vh;
            .menu-category{
                width:40%;
                cursor:pointer;
                .category-btn, .user-btn, .admin-btn{
                    padding:20px;
                    border-radius: 25px;
                    border:none;
                    color:white;
                    width:100%;
                }
                .category-btn{
                    background-color: $blue;
                }
                .user-btn{
                    background-color: $green;
                }
                .admin-btn{
                    background-color: $red;
                }
            }
        }
    }
    .footer{
        .flex-row-between{
            min-width:60%;
        }
    }
    .product-content{
        .product-row{
            margin-bottom:0;
            .product-img{
                max-width:100vw;
                margin-bottom:5vh;
                @include flex(row wrap, center, center);
            }
            .product-desc{
                margin:auto;
                margin-bottom:5vh;
                min-width:70vw;
                padding:0;
                h3{
                    font-size:0.8 * $h3;
                    margin-bottom:10px;
                }
                p{
                    margin-bottom:10px;
                }
                #add-cart{
                    font-size:0.8 * $h3;
                }
            }
        }
        .rates{
            .rate-content{
                .rates-views{
                    .rate-review{
                        max-width:80vw;
                        min-width:60vw;
                        flex-flow: column wrap;
                        aside{
                            width:100%;
                            h5, span{
                                display:inline;
                            }
                            h5{
                                float:left;
                            }
                            span{
                                float:right;
                                font-size:14px;
                            }
                        }
                        > div{
                            border-left:none;
                            border-top: 2px groove grey;
                            width:100%;
                        }
                    }
                }
            }
        }
        .isnt-logged{
            width:80vw !important;
        }
    }
    .user-profile{
        .profile-content{
            max-width:80vw;
            .user-data{
                @include flex(row wrap, center, center);
                form{
                    padding:20px;
                }
            }
            .user-orders{
                min-width:60vw;
            }
        }
        #profile-nav{
            .profile-nav-container{
                .select-btn{
                    width:250px;
                    font-size: 0.5 * $h3;
                    &::before{
                        left:10px;
                    }
                    &::after{
                        right:10px;
                    }
                    span{
                        width:100px;
                        right:75px;
                    }
                }
            }
        }
    }
    @keyframes translateX-btn-in {
        from{
            transform:translateX(0);
        }
        to{
            transform: translateX(150px);
        }
    }
    @keyframes translateX-btn-out{
        from{
            transform:translateX(150px);
        }
        to{
            transform: translateX(0);
        }
    }
}

@media (max-width:600px){
    h1{
        font-size: 0.6 * $h1;
    }
    h2{
        font-size: 0.6 * $h2;
    }
    h3{
        font-size: 0.6 * $h3;
    }
    h5{
        font-size: 0.6 * $h5;
    }
    p{
        font-size: 0.6 * $p;
    }
    .blue-square{
        @include square(#74B9FF,15px);
    }
    .red-square {
        @include square(#FF7675,15px);
    }
    .green-square {
        @include square(#00B894,15px);
    }
    .cart-list{
        #cart-table{
            tbody tr td:nth-child(2) table {
                td{
                    font-size: 0.6 * $h3;
                }
            }
        }
    }
    .user-profile{
        .profile-content{
            .user-orders{
                width: 100%;
                padding:15px;
                table{
                    margin:0;
                }
            }
        }
    }
    .category-content{
        aside{
            display:none;
        }
        .category-products{
            width:100vw;
            border-left: none;
        }
    }
    #filter-btn{
        display:block;
        float:right;
        margin-right:15px;
        margin-bottom:15px;
        padding:10px;
        border-radius:15px;
        background-color: white;
        border:none;
        box-shadow: 0px 1px 10px grey;
        outline:none;
        cursor:pointer;
    }
    .product-content .rates .rate-content .rates-views .rate-review aside span{
        font-size:12px;
    }
}

@media (max-width:550px){
    .cart-list{
        #cart-table{
            tbody tr td:first-child{
                width:40%;
            }
        }
    }
}

@media (max-width:500px){
    .blue-square{
        margin:3px;
    }
    .red-square {
        margin:3px;
    }
    .green-square {
        margin:3px;
    }
}

@media (max-width:400px){
    h1{
        font-size: 0.5 * $h1;
    }
    h2{
        font-size: 0.5 * $h2;
    }
    h3{
        font-size: 0.5 * $h3;
    }
    h5{
        font-size: 0.5 * $h5;
    }
    p{
        font-size: 0.5 * $p;
    }
    .blue-square{
        @include square(#74B9FF,10px);
        margin:1px;
    }
    .red-square {
        @include square(#FF7675,10px);
        margin:1px;
    }
    .green-square {
        @include square(#00B894,10px);
        margin:1px;
    }
    .cart-list{
        #cart-table{
            tbody tr td:nth-child(2) table {
                td{
                    font-size: 0.5 * $h3;
                }
            }
/*             tbody tr td:first-child{
                width:40%;
            } */
        }
    }
}