* {
  padding: 0;
  margin: 0;
}

@keyframes burger-slide-in {
  from {
    bottom: 200vh;
  }
  to {
    bottom: 0;
  }
}
@keyframes burger-slide-out {
  from {
    bottom: 0;
  }
  to {
    bottom: 200vh;
  }
}
@keyframes translateX-btn-in {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(250px);
  }
}
@keyframes translateX-btn-out {
  from {
    transform: translateX(250px);
  }
  to {
    transform: translateX(0);
  }
}
h1 {
  font-size: 3.875rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

p {
  font-size: 1.5rem;
}

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #F1F1F1;
  overflow-x: hidden;
}

#icon-search {
  cursor: pointer;
  position: relative;
}

.main-content {
  min-height: 90vh;
}

#nav-bar {
  min-height: 10vh;
  box-shadow: 0px 1px 10px grey;
  background-color: #F7F7F7;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
#nav-bar .nav-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
  height: 100%;
  margin: auto;
}
#nav-bar .nav-container > div:last-child {
  position: relative;
}
#nav-bar .nav-container > div:last-child #cart-qty {
  font-weight: 600;
  position: absolute;
  color: #006cda;
  bottom: 35px;
  left: 50%;
}
#nav-bar .nav-container div:first-child {
  z-index: 9999;
}
#nav-bar .nav-container .search-bar {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: 50px;
  z-index: 15000;
  /* 
  margin-top:calc(45vh - 40px); */
}
#nav-bar .nav-container .search-bar #search-input {
  width: 30%;
  height: 40px;
  margin: auto;
  font-size: 2rem;
  outline: none;
}
#nav-bar .nav-container .search-bar .search-results {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  width: 30%;
  margin: auto;
  background-color: darkslategrey;
}
#nav-bar .nav-container .search-bar .search-results a {
  color: white;
  text-decoration: none;
  text-align: left;
  padding: 15px 30px;
  width: 100%;
}
#nav-bar .nav-container .search-bar .search-results a:hover {
  background-color: #558f8f;
}
#nav-bar .nav-container img {
  width: 40px;
  display: block;
  margin: auto;
}
#nav-bar .nav-container i {
  font-size: 2.5rem;
}
#nav-bar .nav-container div {
  width: 20%;
  text-align: center;
}
#nav-bar .nav-container div:nth-child(4) {
  position: relative;
}
#nav-bar .nav-container div:nth-child(4) .account-submenu {
  display: none;
  position: absolute;
  width: calc(80vw/5);
  padding-top: calc(5vh - 20px);
}
#nav-bar .nav-container div:nth-child(4) .account-submenu li {
  list-style: none;
  padding: 10px;
}
#nav-bar .nav-container div:nth-child(4) .account-submenu li:hover {
  background-color: #74B9FF;
  color: white;
}
#nav-bar .nav-container div:nth-child(4) .fa-caret-up {
  display: none;
}
#nav-bar .nav-container div:nth-child(4):hover {
  padding: 10px 0;
}
#nav-bar .nav-container div:nth-child(4):hover .fa-caret-up {
  display: block;
  font-size: 2.5rem;
  position: absolute;
  left: calc(50% - 25px / 2);
  color: black;
  top: 40px;
}
#nav-bar .nav-container div:nth-child(4):hover .account-submenu {
  display: block;
  z-index: 50;
}
#nav-bar .nav-container div:nth-child(4):hover .account-submenu ul {
  background-color: #f9f9f9;
  box-shadow: 0px 1px 10px grey;
}

a {
  color: black;
  text-decoration: none;
}

input[type=submit] {
  cursor: pointer;
}

.burger-animated-in {
  animation-name: burger-slide-in;
  animation-direction: normal;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.burger-animated-out {
  animation-name: burger-slide-out;
  animation-direction: normal;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.burger {
  position: absolute;
  z-index: 2000;
  width: 100vw;
  bottom: 200vh;
  min-height: 100vh;
  box-shadow: 0px 1px 10px grey;
  background-color: white;
}
.burger .burger-row:first-child {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
}
.burger .burger-row:first-child .menu-category {
  width: 15%;
}
.burger .burger-row:first-child .menu-category img {
  padding: 50px 10px;
  width: 100%;
  box-shadow: 0px 1px 10px grey;
}
.burger .burger-row:last-child {
  display: none;
}

.material-icons {
  font-size: 2.5rem !important;
}

.flex-row-between {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.text-transparent {
  color: transparent;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.row > div {
  width: 20%;
  min-height: 20vh;
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.row > div > h5 {
  font-weight: 500;
}
.row > div i {
  font-size: 2rem;
}
.row .i-larger {
  font-size: 2.125rem;
}
.row .icons {
  margin: 0px 15px;
}

#logo-nav {
  width: 160px !important;
}

.box-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
.box-content a {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.box-content a .box-surprise {
  background-color: #F7F7F7;
  box-shadow: 0px 1px 10px grey;
  /* height: 80%; */
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.box-content a .box-surprise img {
  min-width: 20%;
}

.blue-square {
  width: 30px;
  height: 30px;
  margin: 10px;
  display: inline-block;
  background-color: #74B9FF;
}

.red-square {
  width: 30px;
  height: 30px;
  margin: 10px;
  display: inline-block;
  background-color: #FF7675;
}

.green-square {
  width: 30px;
  height: 30px;
  margin: 10px;
  display: inline-block;
  background-color: #00B894;
}

.product-box {
  min-height: 100vh;
  width: 100%;
  background-color: transparent;
}
.product-box h1 {
  font-weight: 400;
  display: inline-block;
}
.product-box p {
  font-weight: 300;
  margin-bottom: 50px;
}
.product-box .products {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
  padding-bottom: 5vh;
}
.product-box .products .flex-center {
  box-shadow: 0px 1px 10px grey;
  background-color: white;
  height: 100%;
  flex-shrink: 0;
  min-width: 30%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.product-box .products .flex-center a {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  margin: 0;
}
.product-box .products .flex-center a img {
  max-width: 75%;
  min-width: 50%;
}
.product-box .products div {
  width: 20%;
  text-align: center;
}
.product-box .products div h2 {
  font-weight: 400;
}
.product-box .products div p {
  font-weight: 300;
}

.box-title {
  display: block;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.box-title div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.category {
  width: 100%;
}
.category h2 {
  text-align: center;
  width: 50%;
  margin: 30px auto;
}
.category .flex-row {
  justify-content: initial;
}
.category .category-content {
  width: 100vw;
  min-height: 100vh;
  align-items: flex-start;
}
.category .category-content aside {
  width: 20vw;
}
.category .category-content > div {
  width: 80vw;
}

.category-products {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: end;
  border-left: 2px solid grey;
  width: 80vw;
}
.category-products a {
  min-width: 30%;
}
.category-products a .flex-center {
  margin-bottom: 5vh;
  margin-right: 2vw;
  text-align: center;
}
.category-products a .flex-center:first-child {
  margin-left: 2vw;
}
.category-products a .flex-center div {
  width: 100%;
  text-align: center;
  padding: 20px;
}
.category-products a .flex-center div img {
  width: 100%;
}
.category-products a .flex-center h3 {
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}
.category-products a .flex-center div p {
  font-weight: 300;
}

/* .img-products {
    width:100%;
} */
.filters {
  min-height: 100%;
  margin-left: 25px;
}
.filters > h5:first-child {
  margin-bottom: 2vh;
}
.filters ul {
  list-style: none;
}
.filters ul h5 {
  margin-bottom: 1vh;
}

#filter-btn {
  display: none;
}

#user-page {
  height: 90vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
#user-page #user-form {
  padding: 50px;
  border: 2px solid lightgrey;
  border-radius: 25px;
  box-shadow: 0px 1px 10px grey;
  background-color: #F7F7F7;
}
#user-page #user-form h3 {
  margin-bottom: 25px;
  text-align: center;
}
#user-page #user-form input {
  margin-bottom: 25px;
  border-radius: 25px;
  height: 3vh;
  border: 2px solid lightgrey;
  outline: none;
}
#user-page #user-form input[type=text], #user-page #user-form input[type=email], #user-page #user-form input[type=password] {
  /* 
  width: calc(100% - 40px); */
  padding-left: 5px;
  width: 100%;
}
#user-page #user-form input[type=submit] {
  width: 100%;
}
#user-page #user-form a {
  font-size: 0.625px;
  margin: auto;
}
#user-page #user-form a p {
  text-align: right;
}

.user-profile {
  min-height: 90vh;
  width: 100%;
}
.user-profile #profile-nav {
  width: 80%;
  height: 200px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.user-profile #profile-nav .profile-nav-container {
  margin: 25px;
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.user-profile #profile-nav .profile-nav-container .select-btn {
  overflow: hidden;
  width: 450px;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  color: white;
  background-color: lightgrey;
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.user-profile #profile-nav .profile-nav-container .select-btn::before {
  content: "Informations";
  left: 50px;
}
.user-profile #profile-nav .profile-nav-container .select-btn::after {
  content: "Commandes";
  right: 50px;
}
.user-profile #profile-nav .profile-nav-container .select-btn::after, .user-profile #profile-nav .profile-nav-container .select-btn::before {
  position: absolute;
  z-index: 5;
  font-weight: 600;
}
.user-profile #profile-nav .profile-nav-container .select-btn span {
  display: inline-block;
  position: relative;
  z-index: 2;
  background: #419fff;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  right: 125px;
}
.user-profile #profile-nav .profile-nav-container .select-btn.checked span {
  animation: translateX-btn-in 0.75s ease-in-out;
  animation-fill-mode: forwards;
}
.user-profile #profile-nav .profile-nav-container .select-btn.unchecked span {
  animation: translateX-btn-out 0.75s ease-in-out;
}
.user-profile .profile-content {
  max-width: 60%;
  margin: auto;
  padding: 50px;
}
.user-profile .profile-content .user-data {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.user-profile .profile-content .user-data form {
  background-color: #f7f7f7;
  padding: 50px;
  border-radius: 25px;
}
.user-profile .profile-content .user-data form input {
  margin-bottom: 25px;
  border-radius: 25px;
  height: 3vh;
  border: 2px solid lightgrey;
  outline: none;
  padding-left: 10px;
  color: black;
  font-size: 1rem;
}
.user-profile .profile-content .user-data form input[type=submit] {
  width: 100%;
  padding-left: 0;
}
.user-profile .user-orders {
  width: 100%;
  display: none;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 25px;
  text-align: center;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.user-profile .user-orders table {
  width: 100%;
  margin: 25px 0;
  background-color: #c4c4c4;
  padding: 20px;
  border-radius: 5px;
  border-collapse: collapse;
}
.user-profile .user-orders table tr {
  margin: 10px 0;
}
.user-profile .user-orders table td, .user-profile .user-orders table th {
  border-bottom: 2px solid black;
}
.user-profile .user-orders table tr:last-of-type td {
  border-bottom: none;
}
.user-profile .user-orders table i {
  color: #419fff;
  padding: 5px;
  /* box-shadow:0px 1px 10px grey;  */
}

.product-content {
  margin: 50px 0;
}
.product-content .product-row {
  max-width: 100vw;
  margin-bottom: 5vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
.product-content .product-row .product-img {
  max-width: 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.product-content .product-row .product-img .main-img {
  width: 50%;
}
.product-content .product-row .product-img .main-img img {
  width: 100%;
}
.product-content .product-row .product-img .alternate-images {
  max-width: 15%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-end;
}
.product-content .product-row .product-img .alternate-images img {
  width: 100%;
  /* margin-right:20px; */
  margin: 20px 20px 0 20px;
  box-shadow: 0px 1px 10px grey;
  cursor: pointer;
}
.product-content .product-row .product-img .alternate-images img:first-child {
  margin: 0 20px 0 20px;
}
.product-content .product-row .product-desc {
  max-width: 50%;
  padding-left: 50px;
}
.product-content .product-row .product-desc #add-cart {
  background-color: #00B894;
  outline: none;
  color: white;
  font-size: 1.5rem;
  padding: 10px;
  border: none;
  box-shadow: 0px 7px 1px grey;
}
.product-content .product-row .product-desc #add-cart:active {
  transform: translateY(4px);
  box-shadow: 0px 3px 1px grey;
}
.product-content .product-row .product-desc h3 {
  margin-bottom: 30px;
}
.product-content .product-row .product-desc h3 input::-webkit-outer-spin-button,
.product-content .product-row .product-desc h3 input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product-content .product-row .product-desc h3 input[type=number] {
  -moz-appearance: textfield;
  width: 30px;
}
.product-content .product-row .product-desc h3 button {
  padding: 0 5px;
}
.product-content .product-row .product-desc h3 input[type=number], .product-content .product-row .product-desc h3 button {
  text-align: center;
  font-size: 1rem;
}
.product-content .product-row .product-desc h3 button:nth-child(1) {
  margin-left: 10px;
}
.product-content .product-row .product-desc h3:nth-child(3) {
  margin-bottom: 5px;
}
.product-content .product-row .product-desc h3:last-of-type {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
.product-content .product-row .product-desc p {
  display: inline-block;
  text-align: justify;
  margin-bottom: 30px;
}
.product-content .product-row .product-desc button[type=submit] {
  font-size: 1.25rem;
  cursor: pointer;
}
.product-content .rates {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  width: 80vw;
  margin: auto;
}
.product-content .rates h3 {
  padding-left: 30px;
  align-self: start;
}
.product-content .rates .rate-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.product-content .rates .rate-content .rates-views {
  width: calc(100vw - 200px);
  height: 100%;
  padding-left: 50px;
}
.product-content .rates .rate-content .rates-views .rate-review {
  margin-bottom: 5vh;
  height: 100%;
  background-color: white;
  box-shadow: 0px 1px 10px grey;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}
.product-content .rates .rate-content .rates-views .rate-review aside {
  padding: 10px;
  width: 15%;
  margin: auto 0;
  height: 100%;
}
.product-content .rates .rate-content .rates-views .rate-review > div {
  width: 85%;
  padding: 15px;
  height: 100%;
  border-left: 2px groove grey;
}
.product-content .rates .rate-content .rates-views .rate-review input, .product-content .rates .rate-content .rates-views .rate-review textarea {
  outline: none;
  margin-bottom: 10px;
}
.product-content .rates .rate-content .rates-views .rate-review #product-rate {
  width: 20px;
  font-size: 1rem;
  text-align: center;
  border-radius: 5px;
  border: 1px solid grey;
}
.product-content .rates .rate-content .rates-views .rate-review #comment {
  width: 100%;
  height: 100px;
  resize: none;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid grey;
}
.product-content .rates .rate-content .rates-views .rate-review #rate-submit {
  padding: 10px;
  border-radius: 5px;
}
.product-content .rates .rate-content .rates-views .rate-review .stars i {
  color: yellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.cart-list {
  max-width: 100vw;
  min-height: 90vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.cart-list .table-row-flex {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.cart-list .cart-message {
  background-color: #00B894;
  color: white;
  padding: 50px;
  font-size: 1.875rem;
  border-radius: 25px;
}
.cart-list #cart-recap {
  background-color: white;
  border: 2px solid lightgrey;
  min-width: 20%;
  position: relative;
}
.cart-list #cart-recap table {
  width: 100%;
}
.cart-list #cart-recap table thead td h3 {
  font-size: 1.2rem;
}
.cart-list #cart-recap table .table-row-flex span {
  padding: 5px;
}
.cart-list #cart-recap table h3 {
  font-weight: 500;
  text-align: center;
}
.cart-list #cart-recap #cart-add {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  position: absolute;
  background-color: #00B894;
  color: white;
  font-size: 1.5rem;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 0px 5px 2px grey;
}
.cart-list #cart-recap #cart-add:active {
  box-shadow: 0px 2px 2px grey;
  transform: translateY(4px);
}
.cart-list #cart-table {
  min-width: 30%;
  border: 2px solid lightgrey;
  background-color: white;
}
.cart-list #cart-table h3 {
  padding: 20px 0 0 20px;
}
.cart-list #cart-table tbody {
  width: 100%;
}
.cart-list #cart-table tbody tr td:first-child {
  width: 20%;
}
.cart-list #cart-table tbody tr td:nth-child(2) {
  padding-left: 10%;
  width: 70%;
}
.cart-list #cart-table tbody tr td:nth-child(2) table {
  border-spacing: 15px;
  width: 100%;
}
.cart-list #cart-table tbody tr td:nth-child(2) table tr td input::-webkit-outer-spin-button,
.cart-list #cart-table tbody tr td:nth-child(2) table tr td input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart-list #cart-table tbody tr td:nth-child(2) table tr td input[type=number] {
  -moz-appearance: textfield;
  text-align: center;
  width: 30px;
}
.cart-list #cart-table tbody tr td:nth-child(2) table tr td button {
  padding: 0 5px;
}
.cart-list #cart-table tbody tr td:nth-child(2) table .qtt-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  align-items: center;
}
.cart-list #cart-table tbody tr td:nth-child(2) table .qtt-buttons span {
  margin-right: 5px;
}
.cart-list #cart-table tbody tr td:nth-child(2) table tr:first-child td {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.375rem;
}
.cart-list #cart-table tbody tr td:nth-child(2) table tr:first-child td i {
  font-size: 1.875rem;
}
.cart-list #cart-table .cart-img {
  width: 100%;
  padding-left: 20px;
}

/* .order-details{
    #cart-table{
        @include flex(row wrap, center, center);
        thead tr{
            width:100%;
        }
    }
} */
.isnt-logged {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  border-left: none !important;
}
.isnt-logged h3 {
  margin: 0 auto 25px auto;
}
.isnt-logged img {
  width: 10%;
}

.alert-modal {
  max-width: 500px;
  min-width: 200px;
  max-height: 200px;
  position: absolute;
  top: 115px;
  left: 0;
  right: 0;
  padding: 20px 40px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.alert-modal .close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1.25rem;
  color: white;
  background-color: transparent;
  border: none;
}

.red {
  background-color: #FF7675;
}

.green {
  background-color: #00B894;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #272727;
  color: white;
  width: 100vw;
  min-height: 40vh;
}
.footer > div {
  width: 30%;
  margin: 2% 2%;
  flex-grow: 0;
  min-height: 15vh;
  max-height: 20vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.footer > div div:first-child {
  margin-top: 30px;
}
.footer .flex-row-between {
  min-width: 40%;
}
.footer i {
  font-size: 26px;
}
.footer p {
  width: 100%;
  text-align: center;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 3.1rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1rem;
  }

  p {
    font-size: 1.2rem;
  }

  .cart-list #cart-recap #cart-add {
    font-size: 1.2rem;
  }

  .blue-square {
    width: 25px;
    height: 25px;
    margin: 10px;
    display: inline-block;
    background-color: #74B9FF;
  }

  .red-square {
    width: 25px;
    height: 25px;
    margin: 10px;
    display: inline-block;
    background-color: #FF7675;
  }

  .green-square {
    width: 25px;
    height: 25px;
    margin: 10px;
    display: inline-block;
    background-color: #00B894;
  }

  .box-content a .box-surprise {
    flex-flow: column wrap;
    justify-content: center;
    min-height: 50vh;
  }
  .box-content a .box-surprise h2 {
    order: 1;
  }
  .box-content a .box-surprise img {
    order: 2;
  }

  .product-box .products {
    width: 80vw;
    margin: auto;
    padding-bottom: 10px;
    border-radius: 10px;
    padding-top: 5px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    justify-content: end;
  }
  .product-box .products::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .product-box .products::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  .product-box .products::-webkit-scrollbar-track {
    background: transparent;
  }
  .product-box .products .flex-center {
    box-shadow: none;
    min-width: 100%;
    min-height: 90%;
    scroll-snap-align: start;
    flex-shrink: 0;
  }
  .product-box .products .flex-center:nth-child(2) {
    margin: 0 0;
  }
  .product-box .products .flex-center a {
    width: 90%;
    height: 90%;
  }

  .category-products a {
    max-width: 40%;
    min-width: 0;
  }
  .category-products a .flex-center img {
    width: 100%;
  }

  .cart-list {
    flex-flow: column wrap;
  }
}
@media (max-width: 1000px) {
  h1 {
    font-size: 2.7125rem;
  }

  h2 {
    font-size: 1.575rem;
  }

  h3 {
    font-size: 1.05rem;
  }

  h5 {
    font-size: 0.875rem;
  }

  p {
    font-size: 1.05rem;
  }

  .footer i {
    font-size: 20px;
  }

  .blue-square {
    width: 20px;
    height: 20px;
    margin: 10px;
    display: inline-block;
    background-color: #74B9FF;
  }

  .red-square {
    width: 20px;
    height: 20px;
    margin: 10px;
    display: inline-block;
    background-color: #FF7675;
  }

  .green-square {
    width: 20px;
    height: 20px;
    margin: 10px;
    display: inline-block;
    background-color: #00B894;
  }

  .cart-list {
    flex-flow: column wrap;
  }
  .cart-list #cart-table {
    min-width: 80vw;
    max-width: 90vw;
  }
  .cart-list #cart-table .cart-img {
    min-width: 100%;
  }
  .cart-list #cart-table tbody tr td:first-child {
    min-width: 20%;
  }
  .cart-list #cart-table tbody tr td:nth-child(2) table {
    min-width: 80%;
  }
  .cart-list #cart-table tbody tr td:nth-child(2) table td {
    font-size: 1.2rem;
  }
  .cart-list #cart-recap {
    min-width: 60%;
    margin-bottom: 10vh;
  }

  #nav-bar .nav-container {
    width: 90vw;
  }
  #nav-bar #logo-nav {
    width: 100% !important;
  }
}
@media (max-width: 800px) {
  h1 {
    font-size: 2.51875rem;
  }

  h2 {
    font-size: 1.4625rem;
  }

  h3 {
    font-size: 0.975rem;
  }

  h5 {
    font-size: 0.8125rem;
  }

  p {
    font-size: 0.975rem;
  }

  .product-content .rates .rate-content .rates-views .rate-review > div {
    padding: 5px;
  }

  .isnt-logged h3 {
    margin: 0;
    font-size: 12px;
  }

  .cart-list #cart-table tbody tr td:nth-child(2) table td {
    font-size: 1.05rem;
  }
  .cart-list #cart-table tbody tr td:first-child {
    width: 30%;
  }
  .cart-list #cart-table tbody tr td:nth-child(2) {
    padding: 0;
    max-width: 60%;
  }

  #nav-bar .nav-container div:first-child {
    order: 4;
  }
  #nav-bar .nav-container div:nth-child(2) {
    order: 2;
  }
  #nav-bar .nav-container div:nth-child(3) {
    order: 1;
  }
  #nav-bar .nav-container div:nth-child(4) {
    display: none;
  }
  #nav-bar .nav-container div:last-child {
    order: 3;
  }
  #nav-bar .nav-container div:last-child #cart-qty {
    bottom: 100%;
  }
  #nav-bar .nav-container img {
    width: 30%;
  }
  #nav-bar .nav-container .search-bar #search-input {
    width: 60%;
  }
  #nav-bar .nav-container .search-bar .search-results {
    width: 60%;
  }

  .burger .burger-row:first-child {
    display: none;
  }
  .burger .burger-row:last-child {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
    margin-top: 10vh;
    position: absolute;
  }
  .burger .burger-row:last-child .menu-category {
    width: 40%;
    cursor: pointer;
  }
  .burger .burger-row:last-child .menu-category .category-btn, .burger .burger-row:last-child .menu-category .user-btn, .burger .burger-row:last-child .menu-category .admin-btn {
    padding: 2vh;
    border-radius: 25px;
    border: none;
    color: white;
    width: 100%;
    margin: 2vh 0;
  }
  .burger .burger-row:last-child .menu-category .category-btn {
    background-color: #74B9FF;
  }
  .burger .burger-row:last-child .menu-category .user-btn {
    background-color: #00B894;
  }
  .burger .burger-row:last-child .menu-category .admin-btn {
    background-color: #FF7675;
  }

  .footer .flex-row-between {
    min-width: 60%;
  }

  .product-content .product-row {
    margin-bottom: 0;
  }
  .product-content .product-row .product-img {
    max-width: 100vw;
    margin-bottom: 5vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .product-content .product-row .product-desc {
    margin: auto;
    margin-bottom: 5vh;
    min-width: 70vw;
    padding: 0;
  }
  .product-content .product-row .product-desc h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .product-content .product-row .product-desc p {
    margin-bottom: 10px;
  }
  .product-content .product-row .product-desc #add-cart {
    font-size: 1.2rem;
  }
  .product-content .rates .rate-content .rates-views .rate-review {
    max-width: 80vw;
    min-width: 60vw;
    flex-flow: column wrap;
  }
  .product-content .rates .rate-content .rates-views .rate-review aside {
    width: 100%;
  }
  .product-content .rates .rate-content .rates-views .rate-review aside h5, .product-content .rates .rate-content .rates-views .rate-review aside span {
    display: inline;
  }
  .product-content .rates .rate-content .rates-views .rate-review aside h5 {
    float: left;
  }
  .product-content .rates .rate-content .rates-views .rate-review aside span {
    float: right;
    font-size: 14px;
  }
  .product-content .rates .rate-content .rates-views .rate-review > div {
    border-left: none;
    border-top: 2px groove grey;
    width: 100%;
  }
  .product-content .isnt-logged {
    width: 100% !important;
  }

  .user-profile .profile-content {
    max-width: 80vw;
  }
  .user-profile .profile-content .user-data {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .user-profile .profile-content .user-data form {
    padding: 20px;
  }
  .user-profile .profile-content .user-orders {
    min-width: 60vw;
  }
  .user-profile #profile-nav .profile-nav-container .select-btn {
    width: 250px;
    font-size: 0.75rem;
  }
  .user-profile #profile-nav .profile-nav-container .select-btn::before {
    left: 10px;
  }
  .user-profile #profile-nav .profile-nav-container .select-btn::after {
    right: 10px;
  }
  .user-profile #profile-nav .profile-nav-container .select-btn span {
    width: 100px;
    right: 75px;
  }

  @keyframes translateX-btn-in {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(150px);
    }
  }
  @keyframes translateX-btn-out {
    from {
      transform: translateX(150px);
    }
    to {
      transform: translateX(0);
    }
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 2.325rem;
  }

  h2 {
    font-size: 1.35rem;
  }

  h3 {
    font-size: 0.9rem;
  }

  h5 {
    font-size: 0.75rem;
  }

  p {
    font-size: 0.9rem;
  }

  .blue-square {
    width: 15px;
    height: 15px;
    margin: 10px;
    display: inline-block;
    background-color: #74B9FF;
  }

  .red-square {
    width: 15px;
    height: 15px;
    margin: 10px;
    display: inline-block;
    background-color: #FF7675;
  }

  .green-square {
    width: 15px;
    height: 15px;
    margin: 10px;
    display: inline-block;
    background-color: #00B894;
  }

  .cart-list #cart-table tbody tr td:nth-child(2) table td {
    font-size: 0.9rem;
  }

  .user-profile .profile-content .user-orders {
    width: 100%;
    padding: 15px;
  }
  .user-profile .profile-content .user-orders table {
    margin: 0;
  }

  .category-content aside {
    display: none;
  }
  .category-content .category-products {
    width: 100vw;
    border-left: none;
  }

  #filter-btn {
    display: block;
    float: right;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    border: none;
    box-shadow: 0px 1px 10px grey;
    outline: none;
    cursor: pointer;
  }

  .product-content .rates .rate-content .rates-views .rate-review aside span {
    font-size: 12px;
  }
}
@media (max-width: 550px) {
  .cart-list #cart-table tbody tr td:first-child {
    width: 40%;
  }
}
@media (max-width: 500px) {
  .blue-square {
    margin: 3px;
  }

  .red-square {
    margin: 3px;
  }

  .green-square {
    margin: 3px;
  }
}
@media (max-width: 400px) {
  h1 {
    font-size: 1.9375rem;
  }

  h2 {
    font-size: 1.125rem;
  }

  h3 {
    font-size: 0.75rem;
  }

  h5 {
    font-size: 0.625rem;
  }

  p {
    font-size: 0.75rem;
  }

  .blue-square {
    width: 10px;
    height: 10px;
    margin: 10px;
    display: inline-block;
    background-color: #74B9FF;
    margin: 1px;
  }

  .red-square {
    width: 10px;
    height: 10px;
    margin: 10px;
    display: inline-block;
    background-color: #FF7675;
    margin: 1px;
  }

  .green-square {
    width: 10px;
    height: 10px;
    margin: 10px;
    display: inline-block;
    background-color: #00B894;
    margin: 1px;
  }

  .cart-list #cart-table {
    /*             tbody tr td:first-child{
                    width:40%;
                } */
  }
  .cart-list #cart-table tbody tr td:nth-child(2) table td {
    font-size: 0.75rem;
  }
}
@media (max-height: 800px) {
  .user-profile .profile-content {
    min-height: calc(100% + 200px);
  }

  #nav-bar .nav-container img {
    width: 30px;
  }
  #nav-bar .nav-container > div:last-child #cart-qty {
    left: 35%;
    bottom: 20%;
  }
}
@media (max-height: 700px) {
  #logo-nav {
    width: 140px !important;
  }
}
@media (max-height: 900px) and (max-width: 1200px) and (orientation: landscape) {
  .product-box .products {
    min-height: 80%;
  }
  .product-box .products .flex-center a img {
    max-width: 40%;
    min-width: 0;
  }
}
@media (max-height: 700px) and (max-width: 1200px) and (orientation: landscape) {
  .product-box .products {
    margin-bottom: 5vh;
  }
  .product-box .products .flex-center a img {
    max-width: 30%;
  }
}
@media (max-height: 500px) and (max-width: 1200px) {
  .product-box .products {
    margin-bottom: 5vh;
  }
  .product-box .products .flex-center a img {
    max-width: 20%;
  }
}

/*# sourceMappingURL=style.css.map */
